<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="logoblack">
    <img src="/img/Logo_black.svg" alt="Snake Tales Logo">
  </div>
</main>

<%- include('./partials/footer') %>
