html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #424242;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #3F8521;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px;
  min-height: 60px;
}

a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background-color: #2a670f;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

button {
  min-height: 30px;
  min-width: 30px;
}

table {
  border: none;
  border-collapse:collapse;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
th {
  background-color: #04AA6D;
  color: white;
}
td {
  height: 50px;
  vertical-align: bottom;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:hover {
  background-color: rgb(168, 241, 123) ;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}