html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #424242;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #3F8521;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px;
  min-height: 60px;
  align-items: right;
  font-weight: 400;
}

a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
}

a#nav:hover {
  background-color: #2a670f;
}
button#nav {
  color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

button {
  min-height: 30px;
  min-width: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

button.addsnake {
  max-width: max-content;
  box-shadow: none;
  background-color: #63B62A;
  color: #ffffff;
  padding: 10px;
}

button.addmeal {
  max-width: max-content;
  box-shadow: none;
  background-color: #63B62A;
  color: #ffffff;
  padding: 10px;
}

table {
  margin-top: 50px;
  border: none;
  border-collapse:collapse;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
table.form {
  margin: 0;
  box-shadow: none;
}

th {
  background-color:#63B62A;
  color: white;
}
th.nocolor{
  background-color: white;
  color: black;
}
td {
  height: 50px;
  vertical-align: bottom;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.form:nth-child(even) {
  background-color: #ffffff;
}

.addsnake {
  display: flex;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.addmeal {
  display: flex;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.snakelist {
  display: flex;
  padding: 50px;
}